body {
	background-color:#FFFFFF; 
	color:#666666;}
	
header {
	background-color:#00B386; 
	color:#FFFFFF;}
	
nav {background-color:#70DBDB}

h1 {margin-bottom:0px;}

h2 {color:#00664d;}

dt {color:#00664d;}

.barn {color:#70DBDB;}
